body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;           
    flex-direction: column; /* Adicionado para alinhar verticalmente e empilhar os elementos */      
    margin-bottom: 100px;
    margin-top: -30px;
}

h1 {
    margin-bottom: 20px; /* Ajuste conforme necessário para o espaçamento desejado */
    font-size: 45px;
}

.bus {
    position: relative;
    width: 300px; /* Ajuste conforme necessário */
    height: 630px; /* Ajuste conforme necessário */
    background: url('./imagens/mapa--onibus.png') no-repeat;
    background-size: cover;
    
}

.btn-poltrona {
    width: 48px;
    height: 48px;
    margin: 16px 13px 2px 0.5px; /* Ajuste a margem conforme necessário */
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;    
    background-color: rgb(6, 185, 117); /* Cor de fundo com transparência para visualização */
    text-align: center; /* Centralizar o conteúdo */
    font-size: 38px; /* Ajuste o tamanho da fonte conforme necessário */
    /* Adicionando transform para mover os assentos para baixo */
    transform: translateY(80px) translateX(30px); /* Ajuste conforme necessário */
    
}

.btn-poltrona span {
    display: block;
    line-height: 46px; /* Ajuste conforme necessário para centralizar verticalmente */
    color: #fff; /* Cor do texto */
}

.fila {
    margin-bottom: 10px;
}

.selecionar {
    position: absolute;       
    display: none;
    text-align: center;
    margin-top: 875px;    
}

.selecionar .poltronas-selecionadas {
    display: flex; 
}

.selecionar h1 {
    font-size: 1.5em;
    margin-right: 10px;
}

.selecionar button {
    padding: 20px 20px;
    font-size: 1em;
    background-color: #87CEEB;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px; /* Espaçamento abaixo */
    font-size: 23px;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 25px;
}

#popup form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#popup label {
    margin-bottom: 5px;
}

#popup input[type="text"],
		#popup input[type="email"],
		#popup input[type="submit"],
		#popup input[type="button"].btn-escolha{
			width: 100%; /* Ajuste a largura conforme necessário */
			padding: 20px;
			margin-bottom: 22.6px;
			box-sizing: border-box;
            font-size: 25px;
		}

#gen-outro-container {
    display: none;
    margin-top: 10px;
    text-align: center;
}
#gen-outro-container label,
#gen-outro-container input {
    display: block;
}

#gen-outro {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin: 0 auto;
}

#buttons-container {
    display: flex;
    width: 100%;    
}

.btn-escolha {
    font-size: 20px;
}